/* Basic Classes */
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.align-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.font-weight-bold{
    font-weight: bold;
}


:root {
    --page-width : 80%;
}
/* body */
body {
    scroll-behavior: smooth;
    height: max-content;
    padding: 0px;
    margin: 0%;
    justify-self: center;
    font-family: 'Arial';
    background-color: #eef6f8;
    flex: 1;    
}

hr {
    width: 100%;
    color: rgb(167, 167, 167);
}



/* Navigation bar */
nav {
    padding: 1vw 1vw;
    padding-top: 2vh;
}
.logo {
    height: 20px;
    width: 20px;
    padding: 0px 1vw;
    cursor: pointer;
    transform: translateY(25%);
}

.anchor_normaliser {
    color: black;
    text-decoration: none;
    padding-right: 20px;
}

.nav_link {
    font-size: large;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: .25s;

}

.nav_link:hover {
    background-color: rgb(253, 190, 19);
    border-bottom: 2.5px solid rgb(134, 175, 148);
    padding-top: 30px;
    transform: translateY(-18%);
}

#nav_logo {
    height: 5vw;
    width: 14vw;
    margin-right: 4vw;
}


/* Banner */

#banner {
    background-image: url(./static/pictures/beach.png);
    height: 50vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#banner>div {
    text-align: center;
    color: white;
}

#banner>div>h1 {
    font-size: 10vh;
    margin: 0%;
}

#banner>div>p {
    font-size: 2vw;
    margin-top:1vw;
}



/* main body */
#main_body {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#main_body>p {
    width: calc(var(--page-width)/2);
    word-wrap: break-word;
    text-align: center;
    font-size: larger;
}

#body_heading {
    width: calc(var(--page-width)/2);
    justify-content: center;
}

#body_heading>span {
    width: calc(var(--page-width)/5);
    border: .25vh solid #838383;
    border-radius: 10vh;
}

#body_heading>h1 {
    display: block;
    text-align: center;
    margin: 5%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: xx-large;

}


/* Packages  */
#packages_container {
    margin: 5vh 0vw;
    width:var(--page-width);
}

#packages_container>div {
    width: calc(var(--page-width)/4);
    margin: 2.5vh ;
    padding-bottom: 4vh;
    text-align: center;
    transition: .5s;
    border: .25vh solid #eef6f8;
}

#packages_container>div:hover {
    background-color: #eef6f8;
}

#packages_container>div>a {
    font-size: large;
    color: white;
    text-decoration: none;
    background-color: rgb(30, 148, 169);
    padding: 10px 15px;
    border-radius: 0.5vh;
    transition: .5s;
}
#packages_container>div>a:hover {
    background-color: rgb(253, 190, 19);
}
#packages_container>div>p {
   margin: .5vw;
}


#packages_container>div>img {
    width: 100%;
    height: 25vh;
}

#packages_container>div>h3 {
    color: rgb(30, 148, 169);
    font-family: 'Times New Roman';
    font-size: xx-large;
}


/* footer */
footer {
    width: var(--page-width);
    padding-bottom: .5vh;
    text-wrap: nowrap;
}
footer>section{
    margin-left: 0%;
}
footer >section >div >a {
    margin-bottom: 2vh;
}
#footer_main>div {
    width: calc(var(--page-width)/4 - 5%);
    align-items: left;
    margin-left: 5vw;
    transform: translateX(-50%);
}
#footer_description{
    text-wrap:wrap;
}